#about-copy img {
  width: 20%;
  height: auto;
  float: left;
  margin-right: 1rem;
  margin-bottom: 0;
}

#about-copy p {
  line-height: 2;
}

#about-copy p:nth-child(n + 2) {
  margin-top: 1rem;
}

@media screen and (max-width: 980px) {
  #about-copy img {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  #about-copy img {
    width: 33%;
  }
}

@media screen and (max-width: 640px) {
  #about-copy img {
    min-width: 200px;
    width: 50%;
  }
}
