#contact-form label {
  line-height: 1.5;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#contact-form textarea {
  min-height: 10rem;
  resize: vertical;
}

#contact-form button {
  background: #4aaaa5;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  border: none;
  font-size: 100%;
}
