main section:first-of-type {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

#portfolio-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  overflow: hidden;
}

.portfolio-item-wrapper {
  box-sizing: border-box; /* needed for border hover effect */
  max-width: 32%;
  margin: 1rem 0.25rem 0.5rem 0;
  display: flex;
}

.portfolio-item {
  box-sizing: border-box; /* needed for border hover effect */
  max-width: 100%;
  position: relative;
}

.portfolio-item::before,
.portfolio-item::after {
  box-sizing: inherit; /* border hover effect */
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
}

.portfolio-item::before {
  top: 0;
  left: 0;
}

.portfolio-item::after {
  bottom: 0;
  right: 0;
}

.portfolio-item:hover::before,
.portfolio-item:hover::after {
  height: 100%;
  width: 100%;
}

.portfolio-item:hover::before {
  border-top-color: #255c99;
  border-right-color: #255c99;
  transition: width  0.125s, /* width first */ 
              height 0.125s 0.125s; /* then height */
}

.portfolio-item:hover::after {
  border-bottom-color: #255c99;
  border-left-color: #255c99;
  transition: border-color 0s 0.25s,
    /*  Wait for ::before to finish before showing border */ 
    width 0.125s ease-out 0.25s,
    height 0.125s 0.375s;
}

.portfolio-item img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block; /* if otherwise inline, produces gap at bottom for 'descenders' https://stackoverflow.com/questions/31444891/mystery-white-space-underneath-image-tag/31445364#31445364 */
}

.portfolio-item .banner {
  position: absolute;
  bottom: 1rem;
  padding: 0.75rem 0;
  white-space: nowrap;
  text-align: center;
  background: #255c99; /* hover overrides */
  color: #d7ebba; /* hover overrides */
  width: 100%; /* hover overrides */
  transition: width 2s, opacity 1.25s 0.125s;
}

.portfolio-item:hover .banner {
  color: #255c99;
  background: #d7ebba;
  width: 0;
  opacity: 0;
}

.portfolio-item .descrip {
  color: #255c99;
  background: #d7ebba;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 3px 3px 2px 2px;
  padding: 0.5rem;
  opacity: 0;
}

.portfolio-item:hover .descrip {
  opacity: 0.85;
  transition: opacity 1s 1.25s;
}

.portfolio-item .descrip h3 {
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.portfolio-item .descrip p {
  line-height: 1.5;
}

@media screen and (max-width: 980px) {
  /* main { background: yellow; } */

  .portfolio-item-wrapper {
    max-width: 48%;
  }

  .portfolio-item .descrip p {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}

@media screen and (max-width: 768px) {
  /* main { background: orange; } */

  .portfolio-item-wrapper {
    max-width: 48%;
    margin-top: 0.5rem;
  }

  .portfolio-item {
    margin-top: 0.5rem;
  }

  .portfolio-item .banner {
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 640px) {
  /* main { background: red; } */

  .portfolio-item-wrapper {
    max-width: 100%;
  }

  .portfolio-item {
    margin-top: 0.25rem;
    margin-right: 0;
  }

  .portfolio-item .banner {
    padding: 0.75rem 0;
  }
}