#portfolio-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.portfolio-item {
  box-sizing: border-box; /* needed for border hover effect */
  width: 32%;
  margin: 1rem 0.25rem 0.5rem 0;
  position: relative;
}

.portfolio-item::before,
.portfolio-item::after {
  box-sizing: inherit; /* border hover effect */
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
}

.portfolio-item::before {
  top: 0;
  left: 0;
}

.portfolio-item::after {
  bottom: 0;
  right: 0;
}

.portfolio-item:hover::before,
.portfolio-item:hover::after {
  height: 100%;
  width: 100%;
}

.portfolio-item:hover::before {
  border-top-color: #4aaaad;
  border-right-color: #4aaaad;
  transition: width 0.125s, /* width first */ height 0.125s 0.125s; /* then height */
}

.portfolio-item:hover::after {
  border-bottom-color: #4aaaad;
  border-left-color: #4aaaad;
  transition: border-color 0s 0.25s,
    /*  Wait for ::before to finish before showing border */ width 0.125s
      ease-out 0.25s,
    height 0.125s 0.375s;
}

.portfolio-item img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block; /* if otherwise inline, produces gap at bottom for 'descenders' https://stackoverflow.com/questions/31444891/mystery-white-space-underneath-image-tag/31445364#31445364 */
}

.portfolio-item .banner {
  position: absolute;
  bottom: 1rem;
  padding: 0.75rem 0;
  white-space: nowrap;
  text-align: center;
  background: #4aaaad; /* hover overrides */
  color: #ffffff; /* hover overrides */
  width: 100%; /* hover overrides */
  transition: width 2s, opacity 1.25s 0.125s;
}

.portfolio-item:hover .banner {
  color: #4aaaad;
  background: #ffffff;
  width: 0;
  opacity: 0;
}

.portfolio-item .descrip {
  color: #4aaaad;
  background: #ffffff;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 3px 4px 2px 2px;
  padding: 0.5rem;
  opacity: 0;
}

.portfolio-item:hover .descrip {
  opacity: 0.85;
  transition: opacity 1s 1.25s;
}

.portfolio-item .descrip h3 {
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.portfolio-item .descrip p {
  line-height: 1.5;
}

@media screen and (max-width: 980px) {
  .portfolio-item {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-item {
    width: 48%;
    margin-top: 0.5rem;
  }

  .portfolio-item .banner {
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 640px) {
  .portfolio-item {
    width: 100%;
    margin-top: 0.25rem;
  }

  .portfolio-item .banner {
    padding: 0.75rem 0;
  }
}