* {
  box-sizing: border-box;
}


/* Utility Classes */
.my-bg-white   { background: #d7ebba; }
.my-bg-dark    { background: #262626; }
.my-bg-primary { background: #9ad2cb; }
.my-bg-secondary { background: #255c99; }

.my-text-white   { color: #d7ebba; }
.my-text-primary { color: #255c99; }

.my-text-family { font-family: 'Russo One', "Georgia", Times, "Times New Roman", serif; }
.ff-text-family { font-family: 'Carter One', cursive; }

.main-width { max-width: 960px; }

.x-margin {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
}

.horiz-centered {
  margin-left: auto;
  margin-right: auto;
}


/* General Elements */
html,
body {
  color: #262626;
  /* background-image: url("./../images/darkness.png"); Background pattern from Toptal Subtle Patterns */
  background-attachment: fixed;
  font-family: 'Ubuntu', "Arial", "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Russo One', "Georgia", Times, "Times New Roman", serif;
}

h2 {
  font-weight: bolder;
  font-size: 1.75rem;
  padding: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

hr {
  /* margin-bottom: 1rem; */
  border: 1px solid #9ad2cb;
}


/* Header Section */
header {
  position: sticky;
  top: 0;
  border-bottom: 2px solid #255c99;
  display: flex;
  z-index: 1;
  /* justify-content: space-between; */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* flex: 0 0 100%; */
}

nav a {
  /* flex-grow: 1; */
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #d7ebba; /* :hover over-rides */
  filter: brightness(120%);
}

nav a.nav_here {
  color: #255c99;
  font-weight: bold;
}

nav a:first-of-type {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

nav a:last-of-type {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

nav a:hover:not(.nav_here) {
  background: #255c99;
  color: #d7ebba;
}

nav a:nth-child(n + 2) {
  border-left: 1px solid #262626;
}


/* Main Section */
main {
  display: flex;
  flex: 1 0 auto; /* used with 'sticky' footer */
}

.main-content {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background: #ffffff;
  padding: 0 1.5rem 2rem;
  overflow: auto;
  border: 2px solid #dddddd;
  /* width: 100%; */
}

.main-content h2 {
  padding-left: 0;
}

/* Footer Section */
footer {
  border-top: 5px solid #255c99;
  padding: 1.5rem 0;
  line-height: 2rem;
  color: #262626;
  font-size: 0.75rem;
  text-align: center;
}

@media screen and (max-width: 980px) {
  /* .main-content {
    background-color: yellow
  } */
}

@media screen and (max-width: 768px) {
  /* .main-content {
    background-color: orange;
  } */
}

@media screen and (max-width: 640px) {
  /* .main-content {
    background-color: red;
  } */

  .x-margin {
    margin-left: 0;
    margin-right: 0;
  }

  header {
    position: static; /* stop sticky */
  }

  .header-content {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
  
  nav {
    margin: 0 auto;
    width: 100%;
  }

  nav a {
    flex-grow: 1;
  }

  nav a:first-of-type {
    border-radius: 0;
  }
  
  nav a:last-of-type {
    border-radius: 0;
  }

  .main-content {
    border-left: none;
    border-right: none;
  }

}
